<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Filipe Silva - Projects</title>
    <link rel="icon" href="/data/img/brainLogo.png" />
    <link rel="stylesheet" href="CSS/main.css" />
    <link rel="stylesheet" href="../CSS/navbar.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <a class="logo" href="../index/index.html"
          >Filipe Silva <span>Website</span></a
        >

        <img
          id="mobile-cta"
          class="mobile-menu"
          src="/data/img/menu.svg"
          alt="Open navigation"
        />

        <nav>
          <img
            id="mobile-exit"
            class="mobile-menu-exit"
            src="/data/img/exit.svg"
            alt="Close navigation"
          />

          <ul class="primaryNav">
            <li><a id="home-id">Intro</a></li>
            <li><a id="resume-id">Resume</a></li>
          </ul>

          <ul class="secondary_nav">
            <li class="contact" id="contact-id"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="projectDiv" id="planetBoundDiv">
      <p class="projectTitle"><span class="titleNr">01.</span> Planet bound</p>

      <div class="projectContent">
        <img
          class="projectImages"
          src="/data/img/projects/planetBound.jpg"
          alt="planetBound Img"
          onclick="window.location='https://github.com/Dr033/Planet-Bound';"
        />
        <p>This project is written in java using javaFX</p>
      </div>
    </div>
  </body>
</html>
