$color_1: #333;
$color_2: #fff;
$font-family_1: Arial,
sans-serif;
$background-color_1: #f1f1f1;
$background-color_2: #ddd;
$background-color_3: #333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family_1;
    scroll-behavior: smooth;
    background-color: $background-color_1;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: $background-color_1;
    overflow-y: auto;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    transform-origin: center center;

    img#logoSideBar {
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    #big-sidebar {
        list-style: none;
        margin-top: 3em;
        margin-left: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 1em;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }

            img {
                width: 20%;
                margin-right: 1em;
            }

            a {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: $color_1;
            }
        }
    }

    #small-sidebar {
        display: none;

        img {
            width: 20%;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 8%;
        background-color: $background-color_3;
        color: $color_2;
        padding: 10px;
        text-align: center;
    }

    .burger-menu {
        display: none;
    }
}


.main {
    flex: 1;
    margin-left: 200px;
    overflow-y: auto;

    div {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:target {
            display: flex;
        }
    }

    .title {
        background-color: $background-color_3;
        margin-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: -1em;
        margin-right: -1em;
        height: 10vh;

        h1 {
            color: white;
            margin: 0;
        }
    }

    .text {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 3em;
        letter-spacing: 1px;
        height: 20%;
    }

    h1 {
        color: #5e5e5e;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

    h3 {
        color: #5e5e5e;
        text-align: center;
    }

    h4 {
        margin-top: 5px;
        color: #797979;
        text-align: center;
    }

    h5 {
        margin-top: 5px;
        color: #979797;
        text-align: center;
    }

    #home {
        background-image: url(/data/imgs/Background/backgroundHome.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        .audio-button {
            background-color: #2e4d67;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            cursor: pointer;
        }

        .text {
            padding: 1em;
            width: 70%;
        }

        img#meImg {
            display: block;
            height: 50%;
        }

        p {
            text-align: center;
        }
    }

    #resume {
        background-image: url(/data/imgs/Background/backgroundResume.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        display: flex;
        flex-direction: row;

        #resumeImage {
            width: 30%;
            margin: 1em;

            img {
                height: 50%;
            }
        }

        #resumeContent {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: flex-start;

            #companiesContent {
                width: 95%;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h3 {
                    margin-top: 1em;
                }

                h5 {
                    height: 50%;
                    margin-left: 2em;
                }

                img {
                    width: 5em;
                }

                .text {
                    margin: 10px;
                    height: 50%;
                }

                #meeitContent {
                    display: flex;
                    flex-direction: row;
                }

                #adentisContent {
                    display: flex;
                    flex-direction: row;
                }
            }

            #languageAndEducationContent {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;

                img {
                    all: unset;
                    width: 5em;
                }

                #educationContent {
                    display: flex;
                    align-items: flex-start;
                    width: 95%;
                    justify-content: flex-start;
                    height: 40%;

                    #degree {
                        display: flex;
                        align-items: flex-start;
                        margin-top: 2em;
                        margin-bottom: 2em;

                        #degreeContent {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            h5 {
                                margin-left: 2em;
                            }
                        }
                    }
                }

                #languageAndCertifications {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    width: 95%;
                    height: 70%;

                    #certificationsContent {
                        display: flex;
                        align-items: flex-start;
                        width: 50%;

                        #certificationsBox {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-top: 1em;

                            .text {
                                height: 50%;
                            }

                            .certifications {
                                display: flex;
                                align-items: center;
                                flex-direction: row;
                                justify-content: flex-start;

                                img {
                                    width: 4em;
                                }

                                h4 {
                                    margin-left: 1em;
                                }
                            }
                        }
                    }

                    #languageContent {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-left: 1em;
                        width: 45%;

                        #languagesBox {
                            flex-direction: column;
                            width: 100%;
                            justify-content: center;
                            margin-top: 1em;

                            .lang {
                                width: 100%;
                                display: flex;
                                flex-direction: row;

                                p {
                                    margin: 0;
                                    flex: 1;
                                }

                                .languagesStars {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;

                                    img {
                                        width: 1.5em;
                                        margin-left: 1em;
                                    }

                                    .audio-wave {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                        margin-left: 1em;
                                        width: 1.5em;
                                    }

                                    .audio-wave .bar {
                                        width: 3px;
                                        height: 0;
                                        margin: 0 1px;
                                        border-radius: 5px;
                                        background-color: #2e4d67;
                                        opacity: 0;
                                        transform-origin: bottom center;
                                    }

                                    .audio-wave.playing .bar {
                                        animation: grow-shrink 1s linear infinite;
                                    }

                                    .audio-wave .bar {
                                        width: 3px;
                                        height: 0;
                                        margin: 0 1px;
                                        border-radius: 5px;
                                        background-color: #2e4d67;
                                        opacity: 0;
                                        transform-origin: bottom center;
                                        animation-play-state: paused;
                                    }


                                    @keyframes grow-shrink {
                                        0% {
                                            height: 0;
                                            opacity: 1;
                                        }

                                        50% {
                                            height: 20px;
                                        }

                                        100% {
                                            height: 0;
                                            opacity: 0;
                                        }
                                    }

                                    .audio-wave .bar:nth-child(1) {
                                        animation: grow-shrink 1s linear infinite;
                                    }

                                    .audio-wave .bar:nth-child(2) {
                                        animation: grow-shrink 1s linear infinite 0.2s;
                                    }

                                    .audio-wave .bar:nth-child(3) {
                                        animation: grow-shrink 1s linear infinite 0.4s;
                                    }

                                    .audio-wave .bar:nth-child(4) {
                                        animation: grow-shrink 1s linear infinite 0.6s;
                                    }

                                    .audio-wave .bar:nth-child(5) {
                                        animation: grow-shrink 1s linear infinite 0.8s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #contact {
        // Background styles
        background-image: url(/data/imgs/Background/backgroundContact.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        // Styles for all images inside the contact section
        img {
            transition: transform 0.5s ease-in-out;

            &:hover {
                transform: rotate(360deg);
            }
        }

        // Styles for each section inside the contact section
        .section {
            display: table;
            margin: auto;
            border-radius: 3%;

            // Styles for all divs inside each section
            div {
                padding-top: 1em;
                padding-bottom: 1em;
            }

            // Styles for images inside each section
            img {
                padding-right: 1em;
                vertical-align: middle;
                align-self: center;
                width: 8%;
                position: static;
                bottom: 0;
            }
        }

        // Styles for the content inside the contact section
        .content {
            display: flex;
            flex-direction: column;

            // Styles for each div inside the content section
            div {
                display: flex;
                flex-direction: row;
            }

            // Styles for the contact info section
            .info {
                display: flex;
                flex-direction: column;

                // Styles for each paragraph inside the contact info section
                p {
                    margin: 0;
                    font-weight: bold;
                }
            }
        }

        // Styles for the subhead inside the contact section
        .subhead {
            color: #d5bdaf;
            font-size: xx-large;
            font-weight: bold;
            text-align: center;
            padding: 1em;
            margin: auto;
        }

        // Styles for all links inside the contact section
        a {
            color: rgb(70, 70, 70);
            background-color: transparent;
            text-decoration: none;

            &:hover {
                font-weight: bold;
            }
        }
    }

}

@media screen and (max-width: 900px) {

    .main {
        margin: 0;

        width: 100%;
        overflow-y: auto;


        #resume {
            #resumeImage {
                display: none;
            }

            #resumeContent {
                width: 100%;
                margin: 1em 0 0 7%;


                #languageAndEducationContent {
                    #languageAndCertifications {
                        #certificationsBox {
                            .certifications {
                                img {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sidebar {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 5%;
        height: 30%;
        border-radius: 3em;
        transition: all 5s ease-in-out;
        transform-origin: center center;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            display: none !important;
        }

        ul {
            display: none !important;
        }

        .footer {
            display: none !important;
        }

        #small-sidebar {
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                display: flex !important;
                width: 80%;
                margin: 1em 0 1em 0;

                &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
        }

        .burger-menu {
            display: inline !important;
            top: 10px;
            font-size: 32px;
            /* Increase the font size to make the button more visible */
            background-color: transparent;
            border: none;
            color: $color_1;
            cursor: pointer;
        }
    }
}