@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.apresentation{
     background-image: url(../../auxiliar/img/pc.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

     margin-top: -6em;
     margin-left: -1em;
     margin-right: -1em;
     height: 100vh;

     .auxTitle{
        padding-top: 10em;
        #title{
            display: block;
            margin: auto;
            text-align: center;
            color: rgb(61, 85, 149);
            font-size: xxx-large;
        }
     }

     .fotografia {
        img{
            display: block;
            margin: auto;
            margin-top: 6em;

            height: auto;
            //width: 50%;
            max-width: 50vw;
            max-height: 40vh;
            
            overflow: hidden;
            border-radius: 100%;
        }
    }
    
    #text {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 6em;
        padding: 1em;
        width: 70%;
        font-family: 'Poppins';
        // font-weight: bold;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 3em;
        letter-spacing: 1px;
    }

    #download-id{
        margin: auto;
        width: auto;
        padding: 10px;
        text-align: center;
        a{
            color: brown;
            margin: auto;
            font-size: 1em;
            background-color:rgba(255, 255, 255, 0.5);
            color: var(--primary-color);
            border:  3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 2em;
            padding: 5px;
    
            &:hover {
                background: var(--primary-color);
                color: white
            }
        }
    }
}

.title{
    background-color: rgb(61, 85, 149);
    margin-top: 0;

    display:flex;
    align-items: center;
    justify-content: center;
    
    margin-left: -1em;
    margin-right: -1em;
    height: 15vh;
    
    h1{
        color: blanchedalmond;
        margin:0;
    }
}

.education{
    background-image: url(../../auxiliar/img/school.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-left: -1em;
    margin-right: -1em;

    display: block;
    align-items: center;
    justify-content: center;

    img{
        padding-top: 6em;
        display: block;
        margin: auto;
        height: auto;
        width: 20%;
        max-width: max-content;
        max-height: 20vh;
    }

    p {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 3em;
        width: 45%;
        font-family: 'Poppins';
        // font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 3em;
        padding: 1em;
    }
    a{
        &:link{
            color: rgb(49, 31, 98);
        }
          
        &:visited {
        color: rgb(92, 0, 128);
        }
        
        &:hover {
        color: rgb(255, 0, 0);
        }
        
        &:active {
        color: blue;
        }
    }
}

.work{
    background-image: url(../../auxiliar/img/work_meeting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -1em;
    display: block;


    .imagens{
        display: flex;
        justify-content: center;

        height: auto;
        width: auto;
        
        padding-top: 1em;
        img{
            height: auto;
            width: 6%;
            max-width: max-content;
            max-height: 20vh;
        }
    }

    p {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 1em;
        width: 45%;
        font-family: 'Poppins';
        // font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 3em;
        padding: 1em;
    }

    #intership_photo_id{
        padding-top: 1em;
        height: auto;

        height: auto;
        width: 70%;
        max-width: max-content;
        max-height: 20vh;
    }

    a{
        &:link{
            color: rgb(49, 31, 98);
        }
          
        &:visited {
            color: rgb(92, 0, 128);
        }
        
        &:hover {
            color: rgb(255, 0, 0);
        }
        
        &:active {
            color: blue;
        }
    }
}


// @media screen and (max-width: 950px){

//     .apresentation{
//         background-attachment: initial;
//         height: auto;
//         .auxTitle{
//             padding-top: 8em;
//         }
//         .fotografia {
//             img{
//                 padding-top: 6em;
//                 display: block;
//                 margin: auto;

//                 height: auto;
//                 width: 50%;

//                 max-width: max-content;
//                 max-height: 60vh;

//                 border-radius: 0;
//             }
//         }
//     }

//     .education{
//        height: auto;
//        background-attachment: initial;

//        img{
//             padding-top: 6em;
//             display: block;
//             margin: auto;
//             height: auto;
//             width: 60%;
//             max-width: max-content;
//             max-height: 20vh;
//         }
//     }

//     .work{
//        height: auto;
//        background-attachment: initial;

//        .imagens{
//             display: flex;
//             justify-content: center;

//             height: auto;
//             width: auto;
            
//             padding-top: 1em;
//             img{
//                 // display: flex;
//                 // padding: 1em;
//                 // height: 15em;
//                 // width: 20em;

//                 height: auto;
//                 width: 20%;
//                 max-width: max-content;
//                 max-height: 20vh;
//             }
//         }
//     }
// }

@media screen and (min-height: 2500px){

    .apresentation{
       height: auto;
        .auxTitle{
            padding-top: 8em;
        }
        .fotografia {
            img{
                width: 50%;
            }
        }
    }

    .education{
       height: auto;

       img{
            padding-top: 6em;
            display: block;
            margin: auto;
            height: auto;
            width: 60%;
            max-width: max-content;
            max-height: 20vh;
        }
    }

    .work{
       height: auto;
       .imagens{
            display: flex;
            justify-content: center;

            height: auto;
            width: auto;
            
            padding-top: 1em;
            img{
                // display: flex;
                // padding: 1em;
                // height: 15em;
                // width: 20em;

                height: auto;
                width: 20%;
                max-width: max-content;
                max-height: 20vh;
            }
        }
    }
}

@media screen and (max-height: 1500px){

    .apresentation{
       height: auto;
        .auxTitle{
            padding-top: 8em;
        }
        .fotografia {
            img{
                padding-top: 6em;
                height: 50%;
                width: auto;
                max-width: max-content;
                min-width: auto;
                min-height: 450px;
            }
        }
    }

    .education{
       height: auto;

        img{
            padding-top: 6em;
            display: block;
            margin: auto;
            height: auto;
            width: 60%;
            max-width: max-content;
            max-height: 20vh;
            min-height: 150px;
        }
    }

    .work{
       height: auto;
       .imagens{
            display: flex;
            justify-content: center;

            height: auto;
            width: auto;
            
            padding-top: 1em;
            img{
                height: auto;
                width: 20%;
                max-width: max-content;

                min-height: 10vw;
                max-height: 20vh;
            }
        }
    }
}

// @media screen and (max-height: 1500px) and (min-width: 1800px){

//     .apresentation{
//        height: auto;
//         .auxTitle{
//             padding-top: 8em;
//         }
//         .fotografia {
//             img{
//                 padding-top: 6em;

//                 display: block;
//                 margin: auto;
//                 height: auto;
//                 width: 600px;
//             }
//         }
//     }

//     .education{
//        height: auto;

//         img{
//             padding-top: 6em;
//             display: block;
//             margin: auto;
//             height: auto;
//             width: 60%;
//             max-width: max-content;
//             max-height: 20vh;
//             min-height: 6vw;

//         }
//     }

//     .work{
//        height: auto;
//        .imagens{
//             display: flex;
//             justify-content: center;

//             height: auto;
//             width: auto;
            
//             padding-top: 1em;
//             img{
//                 height: auto;
//                 width: 20%;
//                 max-width: max-content;

//                 min-height: 5vw;
//                 max-height: 20vh;
//             }
//         }
//     }
// }