<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Filipe Silva</title>
    <link rel="icon" href="/data/img/brainLogo.png" />
  <link rel="stylesheet" href="../CSS/common.css">
  <link rel="stylesheet" href="../CSS/navbar.css" />
    <link rel="stylesheet" href="CSS/main.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>

  <body>
    <div class="navbar">
      <div class="container">
        <a class="logo" href="index.html">Filipe Silva <span>Website</span></a>

        <img
          id="mobile-cta"
          class="mobile-menu"
          src="/data/img/menu.svg"
          alt="Open navigation"
        />

        <nav>
          <img
            id="mobile-exit"
            class="mobile-menu-exit"
            src="/data/img/exit.svg"
            alt="Close navigation"
          />

          <ul class="primaryNav">
            <li class="menus"><a href="#" id="home-id">Intro</a></li>
            <li class="menus"><a href="#" id="resume-id">Resume</a></li>
          </ul>

          <ul class="secondary_nav">
            <li class="contact" id="contact-id"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="presentation" style="padding-bottom: 2em">
      <div class="auxTitle">
        <h1 id="title"></h1>
      </div>

      <div class="fotografia">
        <img src="\data\img\meSuit.jpg" alt="My photo" />
      </div>

      <div id="text">
        <p>
          My name is Filipe Silva, I'm
          <span id="age"></span>
          years old, and I' am from
          <a href="https://goo.gl/maps/r4pW8UuQMEJsNjTKA" target="_blank"
            >Albufeira - Portugal</a
          >, currently living in
          <a href="https://goo.gl/maps/dCqUMgSEHFbqiJCQA" target="_blank"
            >Porto - Portugal</a
          >.
        </p>

        <p>
          I graduated in Computer Engineering and at the moment I'm working as a
          Web developer at
          <a href="https://www.adentis.pt/" target="_blank">Adentis</a>.
        </p>

        <p>
          I consider myself a perfectionist. I adapt easily to all
          circumstances, having the pragmatic ability to stop, think and resolve
          situations quickly and effectively. I believe that I am skilled in
          stress management, in addition to being able to work efficiently in a
          team. In this sense, I believe that my values, skills and abilities
          will guide me to adequate and efficient performance.
        </p>
      </div>

      <br />
      <div id="download-id">
        <a href="/data/CV.zip" download>Download Documents</a>
      </div>
    </div>

    <div class="title">
      <h1>Education</h1>
    </div>

    <div class="education" style="padding-bottom: 2em">
      <img
        src="\data\img\ebsa.png"
        alt="High school photo"
        id="imagem_secundaria-id"
      />

      <p>I studied science and technology at Albufeira high school.</p>

      <img src="\data\img\isec.png" alt="College photo" />

      <p>
        I have a bachelor's degree at
        <a href="https://www.isec.pt" target="_blank">
          Coimbra Institute of Engineering (ISEC)</a
        >, graduating in computer engineering.
      </p>
    </div>

    <div class="title">
      <h1>Work Experience</h1>
    </div>

    <div class="work" style="padding-bottom: 2em">
      <div style="padding: 1em"></div>

      <div class="imagens">
        <img src="/data/img/multitasking.png" alt="multitasking photo" />
      </div>

      <p>
        Since I was young I wanted my independence, and as soon as possible I
        wanted to work. Initially, I helped my family preparing reservations for
        rental houses, later on, I worked as a waiter, hotel receptionist and
        during the college time, as an event promoter.
      </p>

      <div class="imagens">
        <img
          src="/data/img/mee_it.jpeg"
          alt="Internship photo"
          id="intership_photo_id"
        />
      </div>

      <p>
        In the last stage of my degree, I did an internship carried out at the
        company
        <a href="https://www.mee-it.pt/" target="_blank">Mee-it</a>, having been
        proposed the development of a web platform aiming the comercialization
        of sectional doors.
      </p>
    </div>

    <script src="/JS/navbar.js"></script>
    <script src="JS/index.js"></script>
  </body>
</html>
