<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FS WebSite</title>
    <link rel="icon" href="/data/img/brainLogo.png" />
    <link rel="stylesheet" href="../CSS/navbar.css" />
    <link rel="stylesheet" href="CSS/main.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>

  <body>
    <div class="navbar">
      <div class="container">
        <a class="logo" href="index.html">Filipe Silva <span>Website</span></a>

        <img
          id="mobile-cta"
          class="mobile-menu"
          src="/data/img/menu.svg"
          alt="Open navigation"
        />

        <nav>
          <img
            id="mobile-exit"
            class="mobile-menu-exit"
            src="/data/img/exit.svg"
            alt="Close navigation"
          />

          <ul class="primaryNav">
            <li class="menus"><a href="#" id="home-id">Intro</a></li>
            <li class="menus"><a href="#" id="resume-id">Resume</a></li>
          </ul>

          <ul class="secondary_nav">
            <li class="contact" id="contact-id"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="presentation" style="padding-bottom: 2em">
      <div class="auxTitle">
        <h1 id="title"></h1>
      </div>

      <div class="fotografia">
        <img src="\data\img\meSuit.jpg" alt="My photo" />
      </div>

      <div id="text"></div>

      <br />
      <div id="download-id">
        <a href="/data/CV.zip" download>Download Documents</a>
      </div>
    </div>

    <div class="title">
      <h1>Education</h1>
    </div>

    <div class="education" style="padding-bottom: 2em">
      <img
        src="\data\img\ebsa.png"
        alt="High school photo"
        id="imagem_secundaria-id"
      />

      <p>
        In the period of high school I studied science and technology in
        elementary and high school in Albufeira.
      </p>

      <img src="\data\img\isec.png" alt="College photo" />

      <p>
        In higher education I studied at the
        <a href="https://www.isec.pt" target="_blank"
          >Coimbra Engineering School</a
        >, graduating in computer engineering in the field of application
        development.
      </p>
    </div>

    <div class="title">
      <h1>Work Experience</h1>
    </div>

    <div class="work" style="padding-bottom: 2em">
      <div style="padding: 1em"></div>

      <div class="imagens">
        <img src="/data/img/waiter.png" alt="waiter photo" />
      </div>

      <p>
        Since I was young I wanted my independence, as soon as possible I
        started to work. Initially I helped my family essentially in preparing
        for the rental of the houses. Later, in 2014, I started working as a
        waiter. I worked 3 summers in this position, 2014, 2015 and 2016.
      </p>

      <div class="imagens">
        <img src="/data/img/reception.png" alt="Recepcionist photo" />
      </div>

      <p>
        In 2016, I initially started working in a restaurant, having made a job
        offer for the position of receptionist, I gave my place in the
        restaurant to a friend and worked that summer as a receptionist.
      </p>

      <div class="imagens">
        <img src="/data/img/suit.png" alt="Recepcionist photo" />
      </div>

      <p>
        In late summer 2016, I entered higher education. In order to help my
        family with higher education expenses, I decided to work in my spare
        time for an event promoting agency "DM Events Production & Brand
        Consultancy", having held different positions until the end of my
        studies.
      </p>

      <div class="imagens">
        <img
          src="/data/img/foto_empresa.jpg"
          alt="Internship photo"
          id="intership_photo_id"
        />
      </div>

      <p>
        In the last stage of my degree, I had to do an internship and it was
        carried out at the company
        <a href="https://www.mee-it.pt/" target="_blank">Mee-it</a>, having been
        proposed the development of a web platform that extends the system
        already implemented via desktop and mobile with sectional doors.
      </p>
    </div>

    <script src="/JS/navbar.js"></script>
    <script src="JS/index.js"></script>
  </body>
</html>
