@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.seccao {
  display: table;
  margin: auto;
  background-color: #e3d5ca;
  margin-top: 10px;
  border-radius: 3%;
}

.subhead {
  color: #d5bdaf;
  font-size: xx-large;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding: 1em;
  margin: auto;
}

.seccao div {
  padding-top: 1em;
  padding-bottom: 1em;
}

.seccao img {
  padding-right: 1em;
  vertical-align: middle;
  width: 2em;
  height: auto;
  position: static;
  bottom: 0;
}

.seccao .location .email .phone .linkedin .github {
  /* padding: 1em; */
  display: block;
}
