@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.section {
  display: table;
  margin: auto;
  background-color: #e3d5ca;
  margin-top: 10px;
  border-radius: 3%;
}

.section div {
  padding-top: 1em;
  padding-bottom: 1em;
}

.section img {
  padding-right: 1em;
  vertical-align: middle;
  align-self: center;
  width: 3vh;
  height: 3vh;
  position: static;
  bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.content div {
  display: flex;
  flex-direction: row;
}

.content .info {
  display: flex;
  flex-direction: column;
}

.content .info p {
  margin: 0;
  font-weight: bold;
}

.subhead {
  color: #d5bdaf;
  font-size: xx-large;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding: 1em;
  margin: auto;
}

.section .location .email .phone .linkedin .github {
  display: block;
}

a:link {
  color: rgb(70, 70, 70);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(70, 70, 70);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(70, 70, 70);
  background-color: transparent;
  font-weight: bold;
}
