<!DOCTYPE html>
<html lang="en">

<head>
  <title>F.S. Website</title>
  <link rel="icon" href="/data/img/brainLogo.png">
  <link rel="stylesheet" href="../CSS/navbar.css">
  <link rel="stylesheet" href="CSS/main.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>

<body>

  <div class="navbar">
    <div class="container">
      <a class="logo" href="../index/index.html">Filipe Silva <span>Website</span></a>

      <img id="mobile-cta" class="mobile-menu" src="/data/img/menu.svg" alt="Open navigation">

      <nav>
        <img id="mobile-exit" class="mobile-menu-exit" src="/data/img/exit.svg" alt="Close navigation">

        <ul class="primaryNav">
          <li><a id="home-id">Home</a></li>
          <li><a id="resume-id">Resume</a></li>
        </ul>

        <ul class="secondary_nav">
          <li class="contact" id="contact-id"><a href="#">Contact</a></li>
        </ul>

      </nav>

    </div>
  </div>

  <section class="seccao">

    <div class="location">
        <img id="location-id" src="/data/img/location.png" alt="location icon">
        <a href="https://goo.gl/maps/34cNCZwFmkieJb728" target="_blank">Porto - Portugal</a>
    </div>

    <div class="email">
        <img id="mail-id" src="/data/img/mail.png" alt="mail icon">
        <a href="mailto:filipeansilva06@gmail.com">filipeansilva06@gmail.com</a>
    </div>

    <div class="phone">
        <img id="phone-id" src="/data/img/phone.png" alt="phone icon">
        <a href="tel:+351963-817-589">(+351) 963 817 589</a>
    </div>

    <div class="linkedin">
        <img id="linkedin-id" src="/data/img/linkedin.png" alt="linkedin icon">
        <a href="https://www.linkedin.com/in/filipeansilva" target="_blank">Filipeansilva</a>
    </div>

    <div class="github">
        <img id="github-id" src="/data/img/github.png" alt="github icon">
        <a href="https://github.com/Dr033" target="_blank">Dr033</a>
    </div>


  </section>

  <script src="/JS/navbar.js"></script>
</body>

</html>