@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


.hero {
  text-align: center;
}

.hero .subhead {
  color: gray;
  font-size: xx-large;
  font-weight: bold;
  margin: auto;
}

.hero .rightCol img, .hero .leftCol img {
  display: block;
  margin: auto;
  padding: 1em;
  width: 90%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

@media only screen and (min-width: 825px) {
  .hero .container img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    padding: 1em;
    height: auto;
    width: 90%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    max-height: 80vh;
  }
}

@media only screen and (min-width: 1460px) {
  .hero .container img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    padding: 1em;
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .hero .rightCol img, .hero .leftCol img {
    display: block;
    margin: auto;
    padding: 0;
    padding-top: 1em;
    width: 100%;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    height: auto;
  }
}

@media screen and (max-height: 1000px) {
  .hero .rightCol img, .hero .leftCol img {
    display: block;
    margin: auto;
    padding: 0;
    padding-top: 1em;
    width: 100%;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    height: auto;
  }
}
